body{
    font-family: verdana;
    margin: 0;
    padding: 0;
}

h1{
    margin: 0 0 0 10px;
    padding: 0;
}


form{
    background: gray;
    width: 300px;
    margin: 10px 0 0 10px;
}

label{
    margin-left: 10px;
}

input{
    width: 270px;
    margin-left: 10px;
    height: 20px;
    border-radius: 5px;
}

textarea{
    width: 270px;
    margin-left: 10px;
    height: 100px;
    border-radius: 5px;
}